---
const { icon, emoji, link } = Astro.props;
const iconMap = {
  twitter: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/twitter_light_a7itpb.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/twitter_dark_yyyphq.svg`,
    link: "https://twitter.com/neon_flights",
  },
  github: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/github_light_twjgop.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/github_dark_kg4jhh.svg`,
    link: "https://github.com/georgefairbairn",
  },
  linkedin: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/linkedin_light_hw4mt8.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/linkedin_dark_lpveys.svg`,
    link: "https://www.linkedin.com/in/george-fairbairn/",
  },
  back: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/back_button_light_vrjwaf.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/back_button_dark_yovrzc.svg`,
    link: link ?? "/",
  },
};
---

{emoji && (
  <button
    aria-label="toggle dark mode"
    class="flex items-center ml-8 text-3xl bg-none text-inherit border-none p-0 cursor-pointer outline-inherit focus-visible:outline-blue-700 emoji"
  >
    &#127770;
  </button>
)}
{icon && (
  <a
    href={iconMap[icon].link}
    class={`flex items-center ${icon === "back" ? "ml-0" : "ml-8"}`}
    target={icon === "back" ? "" : "_blank"}
    rel={icon === "back" ? "" : "noopener noreferrer"}
  >
    <img
      alt={icon}
      class={`inline ${iconMap[icon].hover_light}`}
      src={iconMap[icon].icon_light}
    />
    <img
      alt={icon}
      class={`icon-dark hidden ${icon}`}
      src={iconMap[icon].icon_dark}
    />
  </a>
)}

{emoji && <script>
  const btn = document.querySelector(".emoji");
  const lightIcons = document.getElementsByClassName("icon-light");
  const darkIcons = document.getElementsByClassName("icon-dark");

  btn.addEventListener("click", () => {
    const currentTheme = localStorage.getItem("gf-theme");
    if (currentTheme === "dark") {
      localStorage.setItem("gf-theme", "light");
      document.body.classList.remove("dark-theme");
      document.body.classList.add("light-theme");
      btn.innerHTML = "&#127770;";
      for (let i = 0; i < lightIcons.length; i++) {
        lightIcons[i].classList.remove("hidden");
        lightIcons[i].classList.add("inline");
      }
      for (let i = 0; i < darkIcons.length; i++) {
        darkIcons[i].classList.remove("inline");
        darkIcons[i].classList.add("hidden");
      }
    } else {
      localStorage.setItem("gf-theme", "dark");
      document.body.classList.remove("light-theme");
      document.body.classList.add("dark-theme");
      btn.innerHTML = "&#128161;";
      for (let i = 0; i < darkIcons.length; i++) {
        darkIcons[i].classList.remove("hidden");
        darkIcons[i].classList.add("inline");
      }
      for (let i = 0; i < lightIcons.length; i++) {
        lightIcons[i].classList.remove("inline");
        lightIcons[i].classList.add("hidden");
      }
    }
  });
</script>}
