---
const { icon, link } = Astro.props;
const iconMap = {
  twitter: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/twitter_light_a7itpb.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/twitter_dark_yyyphq.svg`,
    link: "https://twitter.com/neon_flights",
  },
  github: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/github_light_twjgop.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/github_dark_kg4jhh.svg`,
    link: "https://github.com/georgefairbairn",
  },
  linkedin: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/linkedin_light_hw4mt8.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/linkedin_dark_lpveys.svg`,
    link: "https://www.linkedin.com/in/george-fairbairn/",
  },
  back: {
    icon_light: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/back_button_light_vrjwaf.svg`,
    icon_dark: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/back_button_dark_yovrzc.svg`,
    link: link ?? "/",
  },
};
---

<a
  href={iconMap[icon].link}
  class={`flex items-center ${icon === "back" ? "ml-0" : "ml-8"}`}
  target={icon === "back" ? "" : "_blank"}
  rel={icon === "back" ? "" : "noopener noreferrer"}
>
  <img alt={icon} class="inline dark:hidden" src={iconMap[icon].icon_light} />
  <img alt={icon} class="dark:inline hidden" src={iconMap[icon].icon_dark} />
</a>
