---
const { icon, emoji } = Astro.props;
const iconMap = {
  twitter: {
    icon: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/twitter_light_a7itpb.svg`,
    link: "https://twitter.com/neon_flights",
  },
  github: {
    icon: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/github_light_twjgop.svg`,
    link: "https://github.com/georgefairbairn",
  },
  linkedin: {
    icon: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/linkedin_light_hw4mt8.svg`,
    link: "https://www.linkedin.com/in/george-fairbairn/",
  },
};
---

{emoji && <button class={`nav-link emoji`}>{`&#${emoji}`}</button>}
{icon && (
  <a
    href={iconMap[icon].link}
    class={`nav-link ${icon}`}
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src={iconMap[icon].icon} />
  </a>
)}

<style>
  .nav-link {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }

  .emoji {
    font-size: 1.6rem;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
  }

  .twitter:hover,
  .twitter:focus {
    filter: invert(67%) sepia(56%) saturate(6877%) hue-rotate(182deg)
      brightness(107%) contrast(90%);
  }

  .github:hover,
  .github:focus {
    filter: invert(34%) sepia(18%) saturate(1393%) hue-rotate(222deg)
      brightness(97%) contrast(86%);
  }

  .linkedin:hover,
  .linkedin:focus {
    filter: invert(27%) sepia(85%) saturate(1451%) hue-rotate(191deg)
      brightness(96%) contrast(98%);
  }
</style>
