---
const { project, flip } = Astro.props;

const technologies = {
  react: {
    logo: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/react_mefvhx.svg`,
    link: "https://reactjs.org/",
  },
  typescript: {
    logo: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/typescript_nutfsj.svg`,
    link: "https://www.typescriptlang.org/",
  },
  javascript: {
    logo: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/javascript_i1tsgl.svg`,
    link: "https://www.javascript.com/",
  },
  redux: {
    logo: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/redux_ckdhwq.svg`,
    link: "https://redux.js.org/",
  },
  jest: {
    logo: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/jest_dp5xba.svg`,
    link: "https://jestjs.io/",
  },
  chartjs: {
    logo: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/jest_dp5xba.svg`,
    link: "https://www.chartjs.org/",
  },
};

const projects = {
  comprehensible_invites: {
    title: "Comprehensible Invites",
    imgSrc: `${
      import.meta.env.PUBLIC_CLOUDINARY_URL
    }/comprehensible_invites_t180i1.svg`,
    company: {
      name: "Slack",
      logo: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/Slack_zhfq4x`,
    },
    dates: "Aug 2021 - Jan 2022",
    content: [
      "This project aimed to improve the invite experience when adding people outside your workspace to a channel using Slack Connect. I helped build a step-by-step flow that guided users to send the correct invite type in a thoughtfully designed, intelligently architected and pleasant experience.",
      "This was a key company project and led to increased Slack Connect channel adoption and a reduction in Slack Connect invites accidentally sent to internal teammates.",
    ],
    technologies: ["typescript", "react", "javascript", "redux", "jest"],
  },
  voleo: {
    title: "Voleo",
    imgSrc: `${import.meta.env.PUBLIC_CLOUDINARY_URL}/voleo_vgjd0v.svg`,
    company: {
      name: "Convergence Concepts",
      logo: `${
        import.meta.env.PUBLIC_CLOUDINARY_URL
      }/convergence_logo_wh6t5r.svg`,
    },
    dates: "Nov 2019 - Apr 2020",
    content: [
      "Voleo is a social trading platform allowing users to join trading groups and make investment decisions as a team. In this project, I worked on the front-end of the site, implementing the login & account creation flows, as well as the trade creation pages.",
      "I implemented a re-usable mechanism to interact with the Voleo API’s, and leveraged NPM graphing libraries like Chart.js to visualise trading data. I also helped to build the counterpart native mobile application in React Native.",
    ],
    technologies: ["react", "javascript", "chartjs"],
  },
};
---

<div class="md:flex my-10 md:my-24 px-4 md:px-0">
  {flip ? (
    <>
      <img alt={project} class="flex-1 md:hidden" src={projects[project].imgSrc} width="500" height="300" />
      <div class="md:mr-8 max-w-2xl mt-6 md:mt-0">
        <h2 class="text-2xl font-bold dark:text-slate-200">
          {projects[project].title}
        </h2>
        <p class="flex items-center text-xs mt-1 dark:text-slate-400">
          <img
            alt={projects[project].company}
            class="inline h-auto w-4 mr-1"
            src={`${projects[project].company.logo}`}
            width="15"
            height="15"
          />
          <strong>{`${projects[project].company.name}`}&nbsp;</strong>
          {`| ${projects[project].dates}`}
        </p>
        {projects[project].content.map((project: string) => (
          <p class="dark:text-slate-400 mt-3.5">{project}</p>
        ))}
        <div class="mt-10">
          <h3 class="font-bold dark:text-slate-200">Technologies used:</h3>
          <div class="flex">
            {projects[project].technologies.map((tech: string) => (
              <a
                href={technologies[tech].link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img alt={`${tech} logo`} class="w-12 h-12 mt-2 mr-4 md:w-auto md:h-auto" src={technologies[tech].logo} width="15" height="15" />
              </a>
            ))}
          </div>
        </div>
      </div>
      <img alt={project} class="flex-1 hidden md:block" src={projects[project].imgSrc} width="15" height="15" />
    </>
  ) : (
    <>
      <img alt={project} class="flex-1" src={projects[project].imgSrc} width="500" height="300" />
      <div class="md:ml-8 max-w-2xl mt-6 md:mt-0">
        <h2 class="text-2xl font-bold dark:text-slate-200">
          {projects[project].title}
        </h2>
        <p class="flex items-center text-xs mt-1 mb-3.5 dark:text-slate-400">
          <img
            alt={projects[project].company}
            class="inline h-auto w-4 mr-1"
            src={`${projects[project].company.logo}`}
            width="15"
            height="15"
          />
          <strong>{`${projects[project].company.name}`}&nbsp;</strong>
          {`| ${projects[project].dates}`}
        </p>
        {projects[project].content.map((project: string) => (
          <p class="dark:text-slate-400 mt-3.5">{project}</p>
        ))}
        <div class="mt-10">
          <h3 class="font-bold dark:text-slate-200">Technologies used:</h3>
          <div class="flex">
            {projects[project].technologies.map((tech: string) => (
              <a
                href={technologies[tech].link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img alt={`${tech} logo`} class="w-12 h-12 mt-2 mr-4 md:w-auto md:h-auto" src={technologies[tech].logo} width="15" height="15" />
              </a>
            ))}
          </div>
        </div>
      </div>
    </>
  )}
</div>
